@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
html { scroll-behavior: smooth; }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #0f1115; }
::-webkit-scrollbar-thumb { background: #4a3b25; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #FFD100; }
.hidden { display: none; }